.content{
	position:relative;
	margin:10px;
	float:left;
	background-color:#eee;
	border:solid 1px #999;
	height:440px;
	width:99%;
}
.left {
	float: left;
	margin:20px;
	padding:20px;
	width:160px;
	height:80px;
	border:solid 1px #999;
	background-color:white;
}
.logo{
	position:absolute;
	width:80px;
	height:80px;
	border:solid 1px #999;
	background-color:#eee;
}
.logo p{
	margin:0;
	margin-top:25px;
	font-size:14px;
	text-align:center;
}
.name{
	position:absolute;
	margin-left:100px;
	width:80px;
	height:5px;
	font-size:14px;
}
.right {
	position:absolute;
	top:0px;
	right:0px;
	margin:20px;
	padding:20px;
	width:80px;
	height:355px;
	border:solid 1px #999;
	background-color:white;
}
/*li{
	
	margin-right:10px;
	list-style:none;
	width:80px;
	height:80px;
	border:solid 1px #999;
	background-color:#eee;
}
*/

.main {
	margin:20px 160px 50px 240px;
	padding:20px;
	height: 300px;
	border:solid 1px #999;
	background-color:white;
}
.wz{
	margin:0;
	font-size:14px;
}
.wz p{
	margin:0px 0px 10px 0px;
}
.logo1{
	position:absolute;
	margin-top:90px;
	width:80px;
	height:80px;
	border:solid 1px #999;
	background-color:#eee;
}
.logo1 p{
	margin:0;
	margin-top:25px;
	font-size:14px;
	text-align:center;
}
.logo2{
	position:absolute;
	margin-top:180px;
	width:80px;
	height:80px;
	border:solid 1px #999;
	background-color:#eee;
}
.logo2 p{
	margin:0;
	margin-top:25px;
	font-size:14px;
	text-align:center;
}
.logo3{
	position:absolute;
	margin-top:270px;
	width:80px;
	height:80px;
	border:solid 1px #999;
	background-color:#eee;
}
.logo3 p{
	margin:0;
	margin-top:25px;
	font-size:14px;
	text-align:center;
}